h2 {
  font-size: calc(20px + .00625*(100vw - 320px));
  line-height: 1.4em;
  font-weight: 300;
  padding-top: 3px;
  border-radius: 2px;
  color: var(--color-text);
  font-weight: 400;
}

.timeline-header {
  margin-left: var(--timeline-margin-left);
  display: flex;
  line-height: 22px;
}

.timeline-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-left: var(--timeline-margin-left);
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--timeline-margin-left);
}

.timeline-container::-webkit-scrollbar {
  height: 8px;
}
.timeline-container::-webkit-scrollbar-thumb {
  background: rgb(150 150 150 / 0.4);
  border-radius: 4px;
}
